{% extends "about/for_static.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content_name %}
  Седенко Роман Андреевич
  <img src= "{{ MEDIA_URL }}Self.jpg" alt="Моё фото" height="130" width="160">
{% endblock %}
{% block content_about_short %}
  Родился: 14.12.1983 <br>
  Родной город: Таганрог
{% endblock %}
{% block content_about_full %}
  <p>
    Я в данный момент работаю инженером-конструктором в компании Boeing.
    Но в один прекрасный день, мне пришла в голову мысль переквалифицироваться в другую область,
    потому что тут стало грустно и скучно, некуда расти. Вот я и пришел на Яндекс с целью обучиться новой профессии.
    Учеба интересная, материал, конечно, трудный, но так даже интересней учиться.
    В учебе мне помогает мой котяра, который постоянно трется рядом и морально поддерживает :)
  </p>
  <p>Собственно вот он</p>
  <img src= "{{ MEDIA_URL }}Cat.jpg" alt="Котяра" height="180" width="180"><hr>
  <a href="https://github.com/Rased1983/" target="_blank">Моя страничка на GitHub</a><br>
  <a href="https://yandex-students.slack.com/team/U01UQR97291" target="_blank">Мой профиль в Slack</a><br>
{% endblock %}
